/* ==|== Typography TITLES ===================================================== */
 
h1, h2, h3, h4, h5, h6 { font-family: $body-font; line-height: 1.2; margin: 0;@include MQ(Lmax) { color: $main-color; }  }


.h1 { font-family: $body-font;  font-size: 56px; font-weight: 300; line-height: 1em; letter-spacing: 0.02em; color: $main-color; }
.h2 { font-family: $body-font;  font-size: 40px; font-weight: 300; line-height: 0.8em; letter-spacing: 0.02em; color: $main-color; }
.h3 { font-family: $body-font;  font-size: 30px; font-weight: 300; line-height: 1em;   letter-spacing: 0.02em; color: $main-color; }
.h4 { font-family: $body-font;  font-size: 21px; font-weight: 300; line-height: 1.2em; letter-spacing: 0.02em; color: $main-color; } 
.h5 { font-family: $body-font;  font-size: 15px; font-weight: 300; line-height: 1.2em; letter-spacing: 0.02em; color: $main-color; }
.h6 { font-family: $body-font;  font-size: 12px; font-weight: 300; line-height: 1.2em; letter-spacing: 0.02em; color: $main-color; }


.t1  { font-family: $body-font; font-size: 21px; font-weight: 600; line-height: 1em; letter-spacing: 0.1em; text-transform: none;  color: $main-color; }
.t2  { font-family: $body-font; font-size: 21px; font-weight: 300; line-height: 1.2em; letter-spacing: 0em; text-transform: none;  color: $main-color; }
.t3  { font-family: $body-font; font-size: 15px; font-weight: 600; line-height: 1em; letter-spacing: 0.1em; text-transform: none;  color: $main-color; }
.t4  { font-family: $body-font; font-size: 15px; font-weight: 300; line-height: 1.5em; letter-spacing: 0em; text-transform: none;  color: $main-color; }
.t4b { font-family: $body-font; font-size: 15px; font-weight: 600; line-height: 1.5em; letter-spacing: 0em; text-transform: none;  color: $main-color;  }
.t5  { font-family: $body-font; font-size: 12px; font-weight: 600; line-height: 1.2em; letter-spacing: 0.1em; text-transform: none; color: $main-color;  }
.t6  { font-family: $body-font; font-size: 12px; font-weight: 300; line-height: 1.2em; letter-spacing: 0em; text-transform: none;  color: $main-color; }
.t6b { font-family: $body-font; font-size: 12px; font-weight: 600; line-height: 1.2em; letter-spacing: 0em; text-transform: none;  color: $main-color;  }
.t7  { font-family: $body-font; font-size: 15px; font-weight: 300; line-height: 1em; letter-spacing: 0.03em; text-transform: none; }
.t8  { font-family: $body-font; font-size: 12px; font-weight: 300; line-height: 1em; letter-spacing: 0.03em; text-transform: none; }

.cta1 {font-family: $body-font; font-size: 15px; font-weight: 600; line-height: 1em; letter-spacing: 0.1em; text-transform: none; color: $main-color; }
.cta2 {font-family: $body-font; font-size: 12px; font-weight: 600; line-height: 1em; letter-spacing: 0.1em; text-transform: none; color: $main-color; }


/* ==|== Typography ELEMENTS ===================================================== */

a 			{ color: $link-color; outline: none; text-decoration: none; transition: all .3s ease-in-out; }		
a:hover 	{ color: lighten($link-color, 10%); outline: none; text-decoration: none; }
a:focus, 
a:active  	{ color: lighten($link-color, 10%); outline: none; text-decoration: none;}

::selection {background: $second-color; color: #fff;}
::-moz-selection {background: $second-color; color: #fff;}

strong, b { font-weight: 700; color: $black; }

ul, ol, li { list-style: none; margin: 0; padding: 0;}

p { margin: 0 0 1em 0; }
p:last-child { margin: 0; }

img {max-width: 100%; vertical-align: bottom;}
.svg { stroke: $grey--dark-2; fill: $white; min-height: 10px; min-width: 10px; }

.borderb { border-bottom: 	1px solid #ccc; }
.bordert { border-top: 		1px solid #ccc; }

.f-title { font-family: $title-font; }
.f-text  { font-family: $body-font; }
.f-sans  { font-family: $sans-font; }
.f-serif { font-family: $serif-font; }

.fw-bold { font-weight: 700;  }

/* ==|== Snippets ===================================================== */

/* body copy-based */
.text-xxsmall { font-size: 10px; line-height: 1.4; }
.text-xsmall 	{ font-size: 11px; line-height: 1.4; }
.text-small 	{ font-size: 12px; line-height: 1.4; }
.text-normal 	{ font-size: 14px; line-height: 1.4; }
.text-medium 	{ font-size: 16px; line-height: 1.4; }
.text-big 		{ font-size: 18px; line-height: 1.4; }


.text-left, .txt-l 		{ text-align: left;  }
.text-right, .txt-r 	{ text-align: right;  }
.text-center, .txt-c 	{ text-align: center; }
.text-highlight { color: #fff; background: $main-color; display: inline; padding: 0; box-shadow: 10px 0 0 $main-color, -10px 0 0 $main-color; }
.v-center { display: flex; justify-content: center; align-items: center; @include MQ(L) {  height: 100%;}   }
.as-center { align-self: center; }


.underline { 		border-bottom: 1px solid #ccc;}
.underline:hover {	border-bottom: 1px solid #666;}
.uppercase, .t-up { 	text-transform: uppercase; }
.capitalize {	text-transform: capitalize; }
.stroke { 		text-decoration: line-through; }

.left { 	float: left; }
.right { 	float: right; }
.block { 	display: block; }
.inline-block { display: inline-block; }
.inline { 	display: inline; }
.riga {	width: auto; }
.half {	float: left; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clear { clear: both; }
.relative { position: relative; }
.mauto { margin-left: auto; margin-right: auto;  }
.oh { overflow: hidden; }


/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

.fa-rotate-90 {
    transform: rotate(90deg);
}


.has-space { @include MQ(L) { padding-top: 90px;} }
/* ==|== COLORS ==================================================== */
.bg-black {
  background: #000;
}
.white,
.white h1,
.white h2 { color: #fff; }

.bg-blue {
  background: #00449A;
  color: #fff;

  a { color: #fff; border-color: #fff; }
}

/* ==|== BUTTONS ===================================================== */

.button { cursor: pointer; font-family: $sans-font; font-size: 12px; font-weight: 700; letter-spacing: .08em; line-height: 1.2em; 
  display: inline-block; vertical-align: bottom; border-radius: 0px; padding: 5px 15px; 
  border: 1px solid $grey--dark-2; color: $white; background: $grey--dark-2; 
  text-decoration: none; outline: none; border-radius: 4px;

  svg { vertical-align: sub; }
  
  &:focus { background: $grey--dark-2;  color: $white; }
  &:hover { background: $white;  color: $grey--dark-2; }
  
  &--full { width: 100%; 
    &:hover {  }
  }

  &--outline { color: $grey--dark-2; border-color: $grey--dark-2; background: $white; 
    &:hover { background: $black;  color: $white; }
  }

  &--white { color: $grey--dark-2; border-color: $white; background: $white; 
    &:hover { color: $white; border-color: $grey--dark-2; background: $grey--dark-2; }
  }

  &--red { color: $white; border-color: $red; background: $red; 
    &:hover { color: $red; border-color: $red; background: $white; }
  }

  &--grey { color: $grey; border-color: $bg-light; background: $bg-light; 
    &:focus { color: $grey; border-color: $bg-light; background: $bg-light; outline: none; }
    &:hover { color: $grey; border-color: $bg-light; background: $bg-light;  }
  }

  &--cta { color: $grey--dark-2; border-color: transparent; background: transparent; border-bottom: 1px solid $grey--dark-2;
    padding: 0; font-size: 16px; align-self: flex-start; letter-spacing: 0;
    margin: 0 auto; @include MQ(L) { margin: 0 auto 30px; }
    &:hover { border-bottom-color: $grey--light-3; background: transparent; }
    //&:hover { color: $white; border-color: $grey--dark-2; background: $grey--dark-2; }
  }

  &--disabled { color: $white; border-color: $grey--light-3; background: $grey--light-3; 
    cursor: not-allowed;
    &:hover { background: $grey--light-3;  color: $white; }
  }

  &--big { padding: 10px 50px; }

  &--buy {
    padding: 16px 40px;
    width: 100%;
    border: 3px solid $grey--dark-2;
    background: $black; 
    font-size: 20px; font-weight: 700; letter-spacing: 0; border-radius: 4px;
    outline: none;
    @include MQ(L) { 
        background: $grey--dark-2; 
    }

    &:hover {
        background: $white; 
        svg { stroke: $grey--dark-2; fill: $grey--dark-2; }
    }

    &.button--fav { 
      max-width: 52px;
      margin-left: 1px;
      border: 1px solid $bg-light;
      background: $bg-light; 
      svg { max-width: 20px; max-height: 28px; stroke: $red; fill: transparent; }
      &:hover { background: $white;  }
      &:hover svg { fill: $red;  }
      @include MQ(L) { 
          border: 1px solid $grey--dark-2;
          background: $grey--dark-2; 
          svg { max-width: 20px; max-height: 28px; stroke: $white; fill: transparent; }
      }
    }
  }

  &--minimal { color: $black; padding: 0; font-size: 12px; background: none; border: none; font-weight: 400; letter-spacing: 0; 
    &:hover { color: $black; background: none; border: none; text-decoration: underline; }
  }

  &--remove { 
    svg { width: 14px; height: 15px; margin-right: 5px; display: inline-block; vertical-align: baseline; } 
  }

  .txt-l &--cta, 
  .txt-r.text-md-left &--cta { margin: 0 auto 0 0; }

  .txt-r &--cta, 
  .txt-l.text-md-right &--cta { margin: 0  0 0 auto; }
  
}

input[type=text].button { cursor: text; }
input[type=text].button--grey:focus { color: $grey; border-color: $bg-light; background: $bg-light;  }


/* ==|== VIDEO ===================================================== */


/* ==|== RESPONSIVE ADDONS ===================================================== */

.hidden-sm { display: none; @include MQ(L) { display: inherit; } }



