
.container,
.container-fluid {
   // min-width: 960px;
}
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1300px) {
    .container {
      max-width: 1240px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1340px;
    }
  }
  
  @media (min-width: 1600px) {
    .container {
      max-width: 1540px;
    }
  }


  .btn {
    border-radius: 0;
    padding: 0.45rem 2.5rem;
  }
  .btn-primary,
  .btn-dark,
  .btn-dark:focus { background: #000; border-color: #000;  color: #fff; }

  .modal { overflow: auto; }
  .modal.show { display: block; }
  .full-screen {
    width: 100%;
   // height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

// ACCORDION
.accordion__row { border-top: 1px solid #cccccc;  border-bottom: 1px solid #cccccc; & + & { border-top: none; } }
.accordion__heading { 
    padding: 15px 0;
    a { font-size: 14px; font-weight: 700; }
    .accordion__toggle { display: block; }
    .accordion__toggle:after {
        content:"";
        float: right;        
        width: 20px;
        height: 20px;
        background: url("../img/svg/Arrow-small.svg") no-repeat 50% 50%;
        transform: rotate(-90deg);

    }
    .accordion__toggle.collapsed:after {
        transform: rotate(90deg);
    }
}

.accordion__heading--small {
    margin-bottom: 20px;
    .accordion__toggle:after {
        content:"";      
        display: inline-block;
        width: 20px;
        height: 10px;
        background: url("../img/svg/Arrow-small.svg") no-repeat 50% 50%;
        transform: rotate(-90deg);

    }
    .accordion__toggle.collapsed:after {
        transform: rotate(90deg);
    }
}