body.choose-country {
    background: url(../img/banner/bg-country.jpg);
    background-size: cover;

    .header { display: none; }
}

#countryModal {
    .mobile-logo {
        margin-bottom: 30px;
        svg { max-width: 170px; }
        //@include MQ(L) { display: none;}
    }
    .modal-intro {
        .h3 { margin-bottom: 1rem; color: $black; }
        color: $black;
        @include MQ(L) { color: inherit;}
    }
    .modal-dialog {
        max-width: 800px; 
        @include MQ(S) { max-width: 700px; }
        @include MQ(L) { max-width: 800px;}
        @include MQ(Mmax) { margin: 0;}
    }
    .modal-body { padding: 30px; overflow: auto; }
    .nationslist {
        max-height: 600px;
        @include MQ(S) { max-height: 400px;}
        @include MQ(L) { max-height: 300px;}
		margin: 30px 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
    }
    .nationslist-wrapper { 
        @include MQ(L) { max-height: 280px; overflow: auto; }
        margin-bottom: 20px; 
    }
	.nation {
        margin-bottom: 12px; text-align: left; padding-left: 30px;
        
		a { text-transform: uppercase; color: $grey; &:hover { color: $black; }  }
		&.current a { color: $black; font-weight: 700; text-decoration: underline; } 
		span { display: inline-block; width: 12px; height: 16px; margin-right: 8px;  }
		&.has-shop span { background: url(../img/svg/cestino-small.svg) no-repeat 0 100%; background-size: contain; }

    }
    .international {
        text-align: center;
        span { width: 16px; height: 16px; margin-right: 3px; vertical-align: sub;
                 background: url(../img/svg/icon-globe.svg) no-repeat 0 100%; 
                 
            }
    }
}


.current-nation__flag {
    padding: 40px 0;

    img { max-width: 30px; max-height: 20px; margin-right: 1ex; } 
}

.choose-country__proceed {
    margin-bottom: 2rem;
}
.choose-country__change {
    font-weight: 600;
    text-decoration: underline;
}