.fashion-show {
    .owl-carousel .owl-item img { @include MQ(L) {width: auto !important; max-height: 300px;} }
    .fs-main-gallery {
        img { display: inline-block; margin-bottom: 30px; }
    }

    .fs-gallery--desktop   { display: none; @include MQ(L) { display: flex;}}
    .fs-gallery--mobile    { display: flex; @include MQ(L) { display: none;}}
}