#fidelity-tab {
    justify-content: center;
    padding: 20px;
    background: $bg-light;
    a {
        padding-left: 0; padding-right: 0;
        margin-left: 30px; margin-right: 30px; 
        font-weight: 600;
        &.active {border-bottom: 1px solid currentColor; }
    }
}

ol.fidelity-numbers {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
 li {
    margin: 0 0 30px 0;
    padding: 10px 0 15px;
    counter-increment: my-awesome-counter;
    position: relative;
    line-height: 1.2;
  }
  li::before {
    content: counter(my-awesome-counter);
    color: $black;
    font-size: 1.4rem;
    font-family: $serif-font;
    position: absolute;
    --size: 38px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: $bg-light;
    border-radius: 50%;
    text-align: center;
  }

}


.fidelity-table {
    width: 100%;
    td, th { padding: 0; text-align: center; vertical-align: top; padding: 20px 0 15px 0; width: 20%; border-bottom: 1px solid #ddd; }
    th {font-size: 12px;  }
    .fth__label { display: block; @extend .f-serif; color: $black; font-size: 18px; }

    .fidelity-table__icon { 
        max-width: 10%; width: 8%;
        svg { max-width: 50px; max-height: 50px;} 
        img { max-width: 30px; max-height: 30px; vertical-align: top;} 
    }
    .fidelity-table__name { 
        width: 40%; max-width: 40%;
        text-align: left; 
        p { margin-bottom: 0; }
        a:after {
            content:"";  
            display: inline-block;   
            width: 20px;
            height: 10px;
            background: url("../img/svg/Arrow-small.svg") no-repeat 50% 50%;
            transform: rotate(-90deg);
    
        }
        a.collapsed:after {
            transform: rotate(90deg);
        }
    
    }
    .fidelity-table__white {  }
}

.store-locator--fidelity {
   // padding-top: 0;
   margin: 80px 0 140px;
}


.fidelity__regolamento {
    article { margin-bottom: 2rem; }
}

.my-fidelity{
    position: relative;
    
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%; right: 10%;
        border-bottom: 1px solid #ddd;
    }

    &.first { padding-bottom: 0 !important; &:after { display: none;  } }

    .b__title { font-size: 24px;  margin-bottom: 30px; letter-spacing: .02em; color: $main-color; 
    &.f-serif { margin-bottom: 20px; } }

    &__label { font-size: 12px; }
    &__value{ font-size: 22px; color: $black; font-weight: 900 !important;  margin-bottom: 20px !important; }

    .button--grey { color: $black; }
}

.ruler-punti {
	position: relative;
	margin: 50px auto 0;
	padding-top: 110px;
	max-width: 1038px;
	text-align: center;
	@include MQ(XS) { padding-top: 110px; }
	
	.ruler-punti__pointer { 
        position: absolute; top: 0; left: 100%; 
	 
        //width:73px; height:160px; transform: translateX(-50%);
        z-index: 3; 
        width: 24%;  max-width: 84px;
        @include MQ(S) { width: 12%; } 
        @include MQ(L) { width: 8%; }
	
	 span { position: absolute; top: 23%; left: 0; right: 0; text-align: center; line-height: 1;
	 		font-size: 12px; font-weight: 400; color: $black;
	 		strong { display: block; font-size: 22px; font-family: $serif-font; padding-top: 6px;  } 
	 }
	 img { width: 100%; } 
	 .pointer { display: block; @include MQ(S) { display: none; }}
	 .pointer.small { display: none; @include MQ(S) { display: block; }  }
	 
	 
	 
     @include MQ(XS) { span {font-size: 11px; top: 24%; } }
     @include MQ(S) { span { font-size: 11px; top: 24%; } }
     @include MQ(M) { span { font-size: 11px; top: 24%; } }
	 }
	.ruler { position: relative; z-index: 2; text-align: center; margin: 0 auto; padding: 0 10px 0;  }
	.ruler { display: none; @include MQ(S) { display: block; width: 100%; }}
	.ruler.small { display: block; @include MQ(S) { display: none; }  }
	
	.text-punti { span { font-weight: 400;  }  @include MQ(S) { font-size: 15px; margin: 0 10px;  }  }
	.one { }
	.two { margin-left: 2.5em; }
	.three { margin-right: 4em;}
	.four {  }
}

.fidelity-gold-features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    .gold-item {
        background: $bg-light;
        color: $black;
        width: 50%;
        @include MQ(L) { width: 33%; } 
        min-height: 160px;
        padding: 35px 20px 0;
        border: solid 5px #fff;
        //margin: 5px;

        strong {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }
        span {
            display: inline-block;
            min-height: 32px;
            margin-bottom: 2px;
        }
        span.big {
            font-size: 40px;
            font-family: $serif-font;
        }
    }
}

// FIDELITY MOBILE

#accordionFidelity {
    margin-bottom: 60px;
    border-top: 1px solid $grey--light-3; 

    .fidelity__regolamento {
        .col-12 { padding-left: 15px; padding-right: 15px; }
    }
}

.fidelity-m {

    .fidelity-cta {
        text-align: center;
        padding-bottom: 60px;

        a { display: inline-block; margin: 0 5px; }
    }
}

#accordionFidelityCard {
    margin-left: 15px; margin-right: 15px;
    .accordion__heading a {
        color: $grey;
        .htitle { font-size: 24px; font-family: $serif-font; color: $black; margin-right: 10px; font-weight: 400; }
    }
    
    .feature-list {
        margin-bottom: 40px;
        li {
            padding: 5px 20px 10px;
            img {  max-width: 30px; width: 24px; max-height: 30px; margin-right: 10px; }
            .feature-list__tooltip { max-width: 20px; max-height: 20px;  display: block;}

            .right { width: 20px; height: 20px; }
        }
    }
}