@font-face {
     font-family:"DomaineDisp";
     src:url("../fonts/DomaineDisp-Regular.woff2") format("woff2"),url("../fonts/DomaineDisp-Regular.woff") format("woff"),url("../fonts/DomaineDisp-Regular.otf") format("opentype");
     font-style:normal;font-weight:400;
 }


@font-face {
     font-family:"DomaineDisp";
     src:url("../fonts/DomaineDisp-Semibold.woff2") format("woff2"),url("../fonts/DomaineDisp-Semibold.woff") format("woff"),url("../fonts/DomaineDisp-Semibold.otf") format("opentype");
     font-style:normal;font-weight:600;
 }

 @font-face {
    font-family:"FuturaPT";
    src:url("../fonts/FuturaPTBook.woff2") format("woff2"),url("../fonts/FuturaPTBook.woff") format("woff"),url("../fonts/FuturaPTBook.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"FuturaPT";
    src:url("../fonts/FuturaPTMedium.woff2") format("woff2"),url("../fonts/FuturaPTMedium.woff") format("woff"),url("../fonts/FuturaPTMedium.otf") format("opentype");
    font-style:normal;font-weight:500;
}
        

@font-face {
    font-family:"FuturaPT";
    src:url("../fonts/FuturaPTBold.woff2") format("woff2"),url("../fonts/FuturaPTBold.woff") format("woff"),url("../fonts/FuturaPTBold.otf") format("opentype");
    font-style:normal;font-weight:600;
}
        
@font-face {
    font-family:"FuturaPT";
    src:url("../fonts/FuturaPTHeavy.woff2") format("woff2"),url("../fonts/FuturaPTHeavy.woff") format("woff"),url("../fonts/FuturaPTHeavy.otf") format("opentype");
    font-style:normal;font-weight:700;
}
        

/*

         
 @font-face {
     font-family:"FuturaStd";
     src:url("../fonts/FuturaStd-Book.woff2") format("woff2"),url("../fonts/FuturaStd-Book.woff") format("woff"),url("../fonts/FuturaStd-Book.otf") format("opentype");
     font-style:normal;font-weight:400;
 }
        
 
@font-face {
     font-family:"FuturaStd";
     src:url("../fonts/FuturaStd-Medium.woff2") format("woff2"),url("../fonts/FuturaStd-Medium.woff") format("woff"),url("../fonts/FuturaStd-Medium.otf") format("opentype");
     font-style:normal;font-weight:500;
 }
        
@font-face {
     font-family:"FuturaStd";
     src:url("../fonts/FuturaStd-Bold.woff2") format("woff2"),url("../fonts/FuturaStd-Bold.woff") format("woff"),url("../fonts/FuturaStd-Bold.otf") format("opentype");
     font-style:normal;font-weight:600;
 }
        
@font-face {
     font-family:"FuturaStd";
     src:url("../fonts/FuturaStd-Heavy.woff2") format("woff2"),url("../fonts/FuturaStd-Heavy.woff") format("woff"),url("../fonts/FuturaStd-Heavy.otf") format("opentype");
     font-style:normal;font-weight:700;
 }
  
 */