:root {
    --input-padding-x: 0;
    --input-padding-y: 24px;
  }
  
  label { margin-bottom: 0; }
  
  input.form-control {
    border: 1px solid #fff;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    padding: 5px 0;
    &:focus {
      border: 1px solid #fff;
      border-bottom: 1px solid $grey;
      box-shadow: none;
      outline: none;
    }

    &.error {
      border-bottom: 1px solid $red;
      color: $red;
    }
  }

  textarea.form-control {
    border: 1px solid $grey;
    padding: 15px;
    border-radius: 0;
    &:focus { 
      border: 1px solid $grey;
      outline: none;
      box-shadow: none;
    }
    &.error {
      border-color: $red;
      color: $red;
    }
  }

  .form-group,
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;

    &.error label {
      color: $red; 
    }
  }
  
  .form-label-group > input[type=text],
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.8;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input[type=text]::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=text]:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=text]::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=text]::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=text]::placeholder {
    color: transparent;
  }

  .form-label-group input[type=email]::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=email]:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=email]::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=email]::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=email]::placeholder {
    color: transparent;
  }


  .form-label-group textarea::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group textarea::placeholder {
    color: transparent;
  }
  
  .form-label-group input[type=text]:not(:placeholder-shown),
  .form-label-group textarea:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 1.5);
  }
  
  .form-label-group input[type=text]:not(:placeholder-shown) ~ label,
  .form-label-group textarea:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 1.5);
    font-size: 12px;
    color: #777;
  }


  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* Customize the label (the container) */
.form-check {
    display: block;
    position: relative;
    padding-left: 27px;
    //margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & label {
       // vertical-align: sub;
        cursor: pointer;
    }
  /* Hide the browser's default radio button */
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  & input[type=radio] + .checkmark,
  & input[type=radio] + label .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 50%;
  }

/* Create a custom checkbox */
& input[type=checkbox] + .checkmark,
& input[type=checkbox] + label .checkmark {
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    display: block;
    float: left;
    margin-right: 10px;
  }
  
  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark,
  &:hover input ~ label .checkmark {
    //background-color: #fff;
    border-color: #878787;
  }
  
  /* When the radio button is checked, add a blue background */
  & input:checked ~ label {
    color: $red;
    @include MQ(L) { color: $white; }
  }
  & input:checked ~ .checkmark,
  & input:checked ~ label .checkmark {
    background-color: #333;
    border-color: #878787;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  & input:checked ~ .checkmark:after,
  & input:checked ~ label .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  & input[type=radio] + .checkmark:after,
  & input[type=radio] + label .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $red;
    @include MQ(L) { background: #fff; }
  }

  /* Style the checkmark/indicator */
  & input[type=checkbox] + .checkmark:after,
  & input[type=checkbox] + label .checkmark:after {
    left: 6px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}
  

/*----- toggle slider checkbox --*/
@at-root
$checked-color: #009900;
$unchecked-color: #888;

.slider-label { display: inline-block; margin-right: 5px; }
.slider-checkbox {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 50px;
  margin-top: 2px;
  input {
    margin: 0px;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: red;
    width: 50px;
    height: 20px;
    &:checked + .label {
      &:before {
        background-color: $checked-color;
        content: "ON";
        padding-left: 6px;
        font-weight: 700;
        font-size: 11px;
        vertical-align: middle;
      }
      &:after {
        left: 31px;
      }
    }
  }
  .label {
    position: relative;
    
    &:before, &:after {
      position: absolute;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      transition: background-color 0.3s, left 0.3s;
    }
    &:before {
      content: "OFF";
      color: #fff;
      box-sizing: border-box;
      padding-left: 23px;
      font-size: 12px;
      line-height: 20px;
      background-color: $unchecked-color;
      left: 0px;
      top: 0px;
      height: 20px;
      width: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    &:after {
      content: "";
      letter-spacing: 20px;
      background: #fff;
      left: 1px;
      top: 1px;
      height: 18px;
      width: 18px;
    }
  }
}
