.franchising {
    .b__subtitle {font-size: 18px; }
    .b__title { font-size: 22px; letter-spacing: .1em; }
    .form-label-group label,
    .form-label label,
    .form-check-label { font-size: 12px; }


    &__form {
        .form-check {
            position: relative;
            margin-top: 30px;
        }
        .form__submit {
            text-align: center;
            padding-top: 30px;
            @include MQ(L) { text-align: left; padding-top: 0; }
            @media only screen and (max-width: $L - 1) { 
                .button--big { padding: 10px 90px;  }
            }
        }
    }
}

