.hero,
.banner {
    position: relative;
    
    .slide img { max-height: 900px; width: 100%; }
    .container-fluid { padding: 0; }
    @include MQ(L) {  
      //  margin-bottom: 140px;
    }
    .col {  }
    .container { 
        position: absolute; top: 0; bottom: 0; 
        left: 50%; transform: translateX(-50%);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image img { width: 100%; height: 100%; }
    &__header { 
        padding: 20px;
        color: $black;
        text-align: center;
        width: 100%;
        max-width: 600px;
        position: absolute;
        font-size: 18px;

        div { margin-bottom: 1em; }
        .hero__title { 
            margin-bottom: 35px; 
            font-family: $title-font;  
            font-size: 40px; 
            font-weight: 400; 
            line-height: 1em; 
            @extend .h1;
            @include MQ(L) { font-size: 50px;  }
            &.small {font-size: 30px; @include MQ(L) { font-size: 40px;  } } 
            &.bold { font-weight: 700; }
       }

        .hero__subtitle { 
            letter-spacing: .02em; margin-bottom: 30px; 
            font-family: $body-font; 
            font-size: 18px; 
            font-weight: 400;
            @extend .t1;
            &.small {font-size: 16px;}
        }
        

        &.txt-l { text-align: left; }
        &.txt-r { text-align: right; }
        &.txt-c { text-align: center; }
        & br { display: none; }

        @include MQ(L) {  
            &.txt-l { text-align: left; }
            &.txt-r { text-align: right; }
            &.txt-c { text-align: center; }
            & br { display: block; }
        }

        @include MQ(L) {  

            &.tl { top: 0; left: 0; transform: translate(0,0); }
            &.tc { top: 0; left: 50%; transform: translate(-50%,0); }
            &.tr { top: 0; left: 100%; transform: translate(-100%,0); }

            &.cl { top: 50%; left: 10%; transform: translate(0,-50%); }
            &.cc { top: 50%; left: 50%; transform: translate(-50%,-50%); }
            &.cr { top: 50%; left: 100%; transform: translate(-100%,-50%); }

            &.bl { top: auto; bottom: 20px; left: 0; transform: translate(0,0); }
            &.bc { top: auto; bottom: 20px; left: 50%; transform: translate(-50%,0); }
            &.br { top: auto; bottom: 20px; left: 100%; transform: translate(-100%,0); }
        }
        &.white,
        &.white .hero__title,
        &.white .hero__subtitle,
        &.white .cta { color: #fff;  }

    }



}