.breadcrumb {
    background: $white;
    padding: 0;
    margin-bottom: 30px;
    display: none;
    @include MQ(L) { display: block; }
    ol { list-style: none; }
    li { 
        font-size: 12px;
        display: inline;    
        margin: 0 7px 0 0; 
        &:first-child {margin-left: 0;} 
        &:after { content: ">"; margin-left: 7px;  }
        &:last-child:after { content: ""; }
        a { color: $grey; }    
    }
}

.listing__head {
    margin-bottom: 60px;
    .pagetitle {
        font-size: 36px;
        margin-bottom: 30px;
        font-weight: 700;
        span {
            font-size: 15px; font-weight: 400; color: $grey;
        }
    }

    a.button { font-size: 15px; font-weight: 400; max-height: 40px; padding: 10px 20px; 
        &:hover strong { color: $white;}

        .icon-back {
            max-width: 14px; max-height: 12px; color: $grey; display: inline; 
            stroke: $black; fill: transparent; stroke-width: 2px;  vertical-align: baseline;
            position: relative; top: 1px;
            transform: rotate(180deg);
        }
        &:hover .icon-back { stroke: $white; }
    }

    .icon-basket { 
        max-width: 16px; max-height: 16px; color: $grey; display: inline; 
        stroke: $grey; fill: transparent; vertical-align: top;
    }

    
}

.filters__menu {
    padding-right: 50px;
    & > ul {
        
        li {
            line-height: 2.1;
            a { color: $black; font-size: 15px; line-height: 1.2em; margin-bottom: 5px; display: inline-block;
                border-bottom: 1px solid transparent;
            }
            a.active,
            a:hover { border-color: #000; font-weight: 600; }		
        }
    }
    a.filter-toggle {
        display: block;
        font-weight: 700;
    }

    & > ul > li {
        padding: 17px 0 18px;
        border-bottom: 1px solid $grey;
        .filter-toggle {position: relative;}
        & .filter-toggle:after {
            content:"";  
            position: absolute;
            top: 50%; right: 0; 
            width: 20px;
            height: 10px;
            background: url("../img/svg/Arrow-small.svg") no-repeat 50% 50%;
            transform: rotate(90deg);
    
        }
        &.open .filter-toggle:after {
            transform: rotate(-90deg);
            line-height: 1.2em;
        }
        & > ul { margin-top: 1em; margin-bottom: 0; line-height: 1.2em;}
        &:first-child {border-top: 1px solid $grey;}
    }
    
    div > ul > li > .filter-toggle { 
        display: block;
        padding: 12px 0;
        cursor: pointer;

        .small-left { font-size: 12px; }
     }
     .filter-toggle {

     }
     & > ul >li > ul { display: none; }
     li.open > ul { display: block;  }

     .filter-priceRange {
         margin-left: 10px;
         margin-right: 40px;
     }
}

/* ==|==  ======================================================== */

.ideevetrina {}
.listing__header {
    &__img { margin-right: 15px; }
    &__img img { width: 100%; display: block; }


}

/* ==|==  ======================================================== */



.ads {
    padding-top: 50px;
}

.ad {
    background: $bg-light;
    padding: 15px 20px 20px;
    text-align: center;

    &__icon {display: inline-block;  margin-bottom: 10px;}
    &__title { margin-bottom: 10px;}
    &__text { text-align: left;}
}

/* ==|==  ======================================================== */


.listing__filters {
    font-size: 14px;
    li { display: inline-block; margin-left: 20px; }
    a { line-height: 2em; }
    svg { width: 100%; }
    
    .listing-filters-btn,
    .listing-view-btn {
        padding: 4px 0;
        margin: 0 0 0 5px;
        line-height: 1em;
        text-align: center;
        display: inline-block; 
        svg { width: 14px; height: 14px; display: inline-block; padding: 0; margin: 0 auto; fill: #999; }
        &.active { border-bottom: 2px solid $black; svg { fill: #333; } }
        
    }
    .listing-filters-btn {
        padding: 4px 0;
        margin: 0 0 0 5px;
        line-height: 1em;
        text-align: center;
        display: inline-block; 
        svg { width: 18px; height: 18px; display: inline-block; padding: 0; margin: 0 auto; stroke: #999; }
        &.active, &:hover { svg { stroke: #333; } }
    }

    .dropdown { display: inline-block; margin-left: 1ex; }
    .dropdown-toggle { font-size: 14px; font-weight: 600; border-bottom: 2px solid $black;}
    .dropdown-menu {
        min-width: 12rem;
        padding: 20px 20px 20px 20px;
        margin-top: 0px;
        border-radius: 0;
        border-color: $white;
        font-size: 13px;
        cursor: pointer;
        z-index: 80;
        margin-right: -20px; 
        a {  display: inline-block; font-size: 14px; border-bottom: 1px solid $white;
            &:hover {border-bottom: 1px solid $black;}
        } 

        label { margin-bottom: .5rem;  }
    }
    li .dropdown-menu { }
    //.is-active { font-weight: 700; border-bottom: 1px solid $grey; }
}
.listing__nav {
    li { display: inline-block; margin-right: 20px; margin-left: 0; font-size: 13px; }
    a { font-weight: 700; &:hover,&.active { border-bottom: 1px solid $black; } }
}
.listing__filters--desktop{
    display: none;
    @include MQ(L) { display: block; }
}

.listing__filters--mobile{
    display: block;
    @include MQ(L) { display: none; }
}


.filters{
    display: none; 
    @include MQ(L) {  display: block;  }
    &__reset { color: $grey; font-weight: 400; text-decoration: underline; margin-left: 40px;  }
    &__close {
        svg { width: 11px; stroke: $black; vertical-align: middle; margin-left: 5px; }
    }
    .filter {
        padding: 5px 2px 5px 7px;
        color: $grey--dark-2;
        font-size: 13px;
        margin-right: 5px;
        border-radius: 4px;
        border: 1px solid $grey--light-2;
        background: $bg-light;
        &:hover { background: $grey; color: $white;  svg { stroke: $white; } }
    }
}

.item--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    padding: 0 15px; 
    margin-top: -30px;
    @include MQ(L) { padding: 0;  }
    
    * { }

    .h2 { font-size: 30px;}
    p { color: $black; }
}
.item__tags { 
    a { color: $grey; border-bottom: 1px solid transparent; 
        margin-right: 10px;
        &:hover { border-bottom: 1px solid $grey; }  
    }
}


/* ==|==  ======================================================== */

.listingFiltersModal,
.listingOrderModal{
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 1092;
    background: #fff;
    overflow: auto;
    padding: 40px;
    @include MQ(L) { 
        display: none;
    }
    &__actions {
        position: fixed;
        bottom: 0; left: 0; right: 0;
        z-index: 999;
        background: #fff;

        a { padding: 15px 0; 
            border: 1px solid #ccc; background: #fff; 
            &:first-child { border-right: 1px solid #fff; }
            &.is-active,
            &:hover { background: $black; color: $white;  }
        }
        
    }
    .listingOrderModal__actions a {display: block;}
    
    .close {
        position: absolute;
        top: 10px; right: 20px; 
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        color: #000;
        text-shadow: none;
        opacity: .5;
    }
    .accordion {
        .lfm__header .h4 { text-align: center; font-size: 24px; font-weight: 500; }

        ul li { margin-bottom: 10px; }
    }
    /*
    .accordion__toggle {
        &.is-checked {
            color: $red;
        }
        &.is-checked:after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 13px;
            border: solid $red;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 0;
            background: transparent;
            float: none;
            margin-left: 10px;
        }
    }
    .form-check {
        padding-left: 0;
        text-transform: uppercase;

        label { 
            display: block;
            padding: 10px;
            
            margin: 0 0 4px 0; 

            &.is-checked {
                background: $bg-light;
                font-weight: 700;
            }
        }
    }
    .form-check input + .checkmark {
        top: 6px;
        right: 0; left: auto;
    }
    .form-check input ~ .checkmark {
        border-color: transparent;
        background-color: transparent;
    }
    .form-check input:checked ~ .checkmark:after {
        border-color: $red;
        border-width: 0 1px 1px 0;
        width: 8px;
        height: 13px;
    }
    .form-check input[type=radio]+.checkmark:after {
        left: 6px;
        top: 4px;
        width: 8px;
        height: 13px;
        border: solid $red;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 0;
        background: transparent;
    }
    */

    .listingOrderModal__list {
        border-top: 1px solid #aaa;
        .form-check {
            border-bottom: 1px solid #aaa;
            label {
                padding: 10px 0; 
                font-weight: 700;
                letter-spacing: 0.02em;
            }
        }
    }
}


/* ==|==  ======================================================== */

.lookbook__products,
.listing__products,
.wishlist__products {

    div[class^="col"] {
        margin-bottom: 40px;

        img { width: 100%; }
    }
    div:not([class*="offset"])[class^="col"] {
		@include MQ(L) { 
            margin-left: auto;
			margin-right: auto;
        }

    }

    div[class^="col"] > div[class^="col"] {
        padding-right: 0;
        padding-left: 0;
    }

    div[class*="item--"] {
        
    }

    div[class*="offset"] {
    }

}

.item--product {
    .row { flex-wrap: nowrap; }
    .item__wrap {
        position: relative; overflow: hidden;
        margin-bottom: 15px;
        @include MQ(L) { max-height: 500px; }
        .item__image--main { width: 100%; }
        // .item__image--main { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 2; width: 100%;  }
        // .item__image--hover { position: relative; z-index: 1; width: 100%; } 
        // &:hover .item__image--main { opacity: 0; }
        &:hover .item__wishlist { opacity: 1; }
        &:hover .item__quickbuy { bottom: 0; }
        &:hover .item__remove { top: 0; }
    }
    &.is-removed,
    &.is-outofstock  {
        .item__wrap:hover .item__image--main { opacity: 1; }
        .item__wrap:hover .item__quickbuy { bottom: inherit; }
        .item__wrap:hover .item__remove { top: inherit; }
    }

    .item__overlay {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        font-family: $title-font;  
        font-size: 40px; 
        font-weight: 400; 
        line-height: 1em; 
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .item__quickbuy {
        display: none;
        font-size: 12px;
        @include MQ(L) { display: block; font-size: 13px;}
        position: absolute;
        left: 0; right: 0; bottom: -60px;
        transition: bottom .8s ease-out;
        z-index: 3;
        background: transparent;
        padding: 0 20px 20px;
        ul li { display: inline; 
            top: 3px; position: relative;
            input { display: none }
            label { padding: 0 4px; font-weight: 700; border-bottom: 1px solid $white; cursor: pointer; }
            input + label { color: $black; } 
            input:checked + label { border-color: $black; }
            input:disabled + label { color: $grey--light-2; text-decoration: line-through;  }    
        }
        .button { 
            outline: none;
            font-size: 11px;
            white-space: nowrap;
            padding: 5px 10px;
            width: 100%;
            margin: 0 auto;
            display: block;
            border-radius: 4px;
  
        }
    }
    .item__wishlist {
        position: absolute;
        opacity: 0;
        right: 10px; top: 15px;
        transition: top .8s ease-out;
        background: transparent;
        z-index: 5;
        svg {
            max-width: 24px; max-height: 24px;
            fill: transparent;
            stroke: $black;
        }
        &:hover svg { fill: $black; }
    }
    .item__remove {
        position: absolute;
        right: 0; top: 0;
        @include MQ(L) { top: -40px;}
        transition: top .8s ease-out;
        background: $white;
        padding: 3px 4px 0px 8px;
        z-index: 5;
        svg {
            max-width: 14px; max-height: 14px;
            stroke: $grey;
        }
    }

    .item__tags {
        display: flex;
        justify-content: space-between;
        .item__tag { 
            display: block;
            border: 1px solid $black;
            border-radius: 4px;
            font-size: 14px; 
            text-align: center;
            margin-bottom: 10px;
            white-space: nowrap;
            flex-grow: 1;

            img {
                display: inline-block;
                max-width: 14px; max-height: 14px;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
        .item__tag + .item__tag {
            margin-left: 3px; 
        }
    }

    .item__details { font-size: 14px; position: relative; text-align: left; }
    &.item--square .item__details { text-align: center;}

    a.cta { font-weight: 700; border-bottom: 1px solid $black; }

    .item__title { font-size: 15px; line-height: 1.2em; margin-bottom: 8px; margin-right: 0; letter-spacing: 0.02em;
        font-family: $body-font; 
        @include MQ(L) { margin-bottom: 8px;}
        .item__price {
            color: $black; font-weight: 700; font-family: $body-font; margin-left: 10px;
        }
    }
    &.item--wishlist .item__title { margin-right: 0 }
    .item__subtitle { font-size: 12px; margin-top: -6px; margin-bottom: 5px; letter-spacing: .01em; color: $grey;  }
    .item__promo { 
        color: $red; 
        @include MQ(L) { 
            position: absolute; top: -3px; right: 0; 
            font-size: 14px;
            font-weight: 700;
            color: $black;
            max-width: 65px;
        }
    }
    .item__price {
        color: $black; font-weight: 700;
        &--old {color: $grey; text-decoration: line-through; font-weight: 400;}
        &--promo { font-weight: 400; }
        &--new {color: $black; }
    }

    .item__colors {
        margin-top: 10px;
        .item__color {
            display: inline-block;
            background: currentColor;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 5px;
            border: 1px solid currentColor;

        }
    }

    .item__postitle {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        padding: 35px;
        .banner__title { color: $white; }
        .banner__link { color: $white; text-transform: uppercase; border-bottom: 1px solid $white; font-weight: 700; font-size: 12px; }
    }

    .item__addtocart {
        margin-top: 15px;
        .button { padding: 2px 10px; font-size: 12px; letter-spacing: 0; }
        .button:disabled {
            color: $grey--light-3;
            border-color: $grey--light-3;
            cursor: not-allowed;
          }
        @include MQ(L) { display: none; }
    }

    .layer--removed,
    .layer--outofstock {
        position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
        
        background: rgba(255, 255, 255, 0.8);

        display: flex;
        justify-content: center;
        flex-direction: column;    
        align-items: center;

        .layer__title { font-size: 18px; color: $black; margin-bottom: 1em;}
        .layer__cta { font-size: 11px; color: $black; border-bottom: 1px solid $grey; text-transform: uppercase;}
        z-index: 0; display: none;
    }

    &.is-removed {
        .layer--removed { z-index: 10; display: flex;}
        .item__remove { display: none;}
    }
    &.is-outofstock {
        .layer--outofstock { z-index: 10; display: flex;}
        .item__remove { display: none;}
    }

}

.owl-item .item--product .item__quickbuy .button, 
.owl-item .item--lookbook .item__quickbuy .button { margin-right: 3px; }

.loadmore {
    font-size: 13px;
    .button { margin-top: 1rem; font-size: 12px; border-radius: 0.25rem; text-transform: none; }
    .progress { max-width: 280px; margin: 10px auto; height: 6px; background-color: #CCCCCC; }
    .progress-bar { background-color: #333333; border-radius: 0.25rem; }
}

.wishlist__products {
    margin-top: 80px;
    margin-bottom: 120px;
}

.wishlist--empty{
    .wishlist--empty__msg { margin-bottom: 120px; }
}