.lookbook__header {
    &__img img { width: 100%; }
}


.lookbook__products {
    margin-top: 40px;
}

.item--lookbook{
    @extend .item--product;
    &__wrap {
        position: relative; overflow: hidden;
        margin-bottom: 15px;
        & > .item__details { display: none; }
        
        
        .item__image--main {  position: relative; z-index: 1; width: 100%; } 
        @include MQ(L) {  
            max-height: 600px;
            &:hover .item__collect { left: 0; }
            
        }
    }
    .item__pic { position: relative; }
    .item__showdetails {
        position: absolute;
        bottom: 10px; right: 10px;
        width: 30px; height: 30px;
        background: $white url(../img/svg/Icon-Plus.svg) 50% 50% no-repeat;
        background-size: 16px;
        border-radius: 50%;
        z-index: 99;
        cursor: pointer;
        @include MQ(L) { display: none; }

        &.is-open { background: $white url(../img/svg/Icon-Minus.svg) 50% 50% no-repeat; }
    }
    .item__details { display: none; }
    .item__collect {
        position: relative;
        top: 0; bottom: 0;  z-index: 12;
        padding: 0; 
        margin: 0;
        background: rgba(255,255,255,1);
        flex-wrap: wrap;
        justify-content: flex-start ;
        margin-top: 20px;
        display: none;
        width: 100%;
        
        .second & { justify-content: center; }
        .third & { justify-content: flex-end; }
        

        &.is-visible { display: flex;  } 

        .item--product {
            width: calc(50% - 30px) ; margin: 0 15px 45px;
            
            .item__wrap { text-align: center; max-height: 100%; height: auto; width: 100%; }
            .item__image--main{ width: 100%;}
            .item__quickbuy { font-size: 12px; }
            .item__details { display: block;  }
            
            @include MQ(L) { 
                .item__details { 
                    margin-bottom: 0;
                    font-size: 13px;
                    .item__title { 
                        font-size: 15px; max-height: 3em; max-height: 40px;
                        overflow: hidden;
                        margin-right: 0;
                    }
                }
            }

            &.item--nested {
                text-align: left;
                .item__wrap { display: inline-block; margin:auto;  }
                .item__details { 
                    margin-top: 15px; 
                    .item__price { margin-left: 5px; }
                }

                
            }

        }
    }
}