
/*Hamburger Animation */

#sm_menu_ham,
#sm_menu_ham_open {
  cursor: pointer;
  //float: left;
  //position: fixed;
  width: 25px;
  height: 20px;
  top: 24px;
  left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  
  z-index: 999;

  & span {
    background-color: #000;
    border-radius: 5px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    width: 23px;
  }
  & span:nth-child(1) {
    top: 0;
  }
  & span:nth-child(2),
  & span:nth-child(3) {
    top: 7px;
  }
  & span:nth-child(4) {
    top: 14px;
  }
  &.open span:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0;
  }
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0;
  }
}

#sm_menu_ham_open {
  position: fixed;
  top: 20px;
  left: auto;
  right: 15px;
}
/*@media (min-width: 0px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1024px) {}*/
@media (min-width: 1024px) {
  #sm_menu_ham,
  .mobile_menu_outer {
   display: none;
  }
}


/* Mobile Menu*/

.mobile_menu_outer.active {
	opacity: 1;
	z-index: 998;
}
.mobile_menu_outer.active .mobile_menu {
	display: block;
}

.mobile_menu_outer {
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	right: 0; left: 0;
	bottom: 0;
	z-index: -9;
	width: 100%;
	opacity: 0;
	background-color: #ffffff;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	padding-top: 80px;
}

.mobile_menu_outer .mobile_menu ul {
	position: relative; z-index: 8;
  }
  
  .mobile_menu_outer .mobile_menu li.is-small { border: none;  }
  .mobile_menu_outer .mobile_menu li.is-small a { font-weight: 300; font-size: 18px; padding: 30px 0 0;  }
  
  .mobile_menu_outer .mobile_menu__user { 
	position: fixed; 
	bottom: 0; left: 0; right: 0;
	z-index: 10;
	font-size: 14px;
	background: #ff0066;
	color: #fff;
	&.is-login-false { 
	  text-align: center;
	  background: #ff0066;
	  color: #fff;
	  a { display: inline-block; color: #fff; }
	}
	&.is-login-true { 
	  padding: 1rem 40px;
	  text-align: left;
	  background: #f5f5f5;
	  color: #000;
	  .mobile_menu__user__name { color: #000; font-size: 18px; font-weight: 600;  margin-bottom: 1rem; }
      
      .mobile_menu__user__actions { display: flex; justify-content: space-between; 
        a { display: inline-block; color: #000; font-size: 18px; font-weight: 600; padding: 10px; 
            border: 2px solid #000; border-radius: 4px; flex-grow: 1; 
            margin: 0 10px; text-align: center;

            &:first-child,
            &:last-child { margin: 0; }
        }

      }
      
	}
	
  }
  .mobile_menu_outer .mobile_menu li a {
	color: #000000;
	display: block;
	padding: 15px 0px 15px 0;
	font-weight: 500;
	text-decoration: none;
    text-align: left;
    font-size: 20px;
    position: relative;
  }2
  .mobile_menu_outer .mobile_menu .submenu li li a {
	color: #000000;
	display: block;
	padding: 0 0 0 20px;
	font-weight: 400;
    font-size: 18px;
    line-height: 40px;
  }

  .mobile_menu_outer .mobile_menu .submenu li li a:hover,
  .mobile_menu_outer .mobile_menu .submenu li li a.active {
    font-weight: 500;
    text-decoration: underline;
    
  }


/*Sub Menu anim */
.mobile_menu_outer .mobile_menu .submenu {
    background-color: #ffffff;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 999;
  }
  .mobile_menu_outer .mobile_menu li.active>.submenu {
    height: 100%;
  }
  .mobile_menu_outer .mobile_menu > ul > li {
    list-style-type: none;
    color: #000000;
    margin: 0 20px; font-size: 16px; border-bottom: 1px solid #cccccc;
    background-color: #ffffff;

    &:first-child { border-top: 1px solid #cccccc; }
  }

  .mobile_menu_outer .mobile_menu > ul > li > ul > li {
    list-style-type: none;
    color: #000000;
    margin: 0 20px; font-size: 14px; font-weight: 200;
  }
  
  .mobile_menu_outer .mobile_menu li.hasChild>a:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 13px;
    z-index: -1;
    background: url("../img/smmenu-next.png") no-repeat center left;
    background-size: auto 10px;
    transform-origin: center;
    margin-right: 10px;
  }
  .mobile_menu_outer .mobile_menu li.hasChild.active>a:before {
    transform: rotate(90deg);
  }
  .mobile_menu_outer .mobile_menu ul.submenu li:last-child { border-bottom: none; }
  