#quickBuyModal {
    .modal-dialog { max-width: 840px; }

    .qb__image-wrap {
        padding: 30px 20px;
        .qb__image { width: 100%; margin-bottom: 20px; }
    }
    .qb__prod-wrap {
        padding: 30px 0 0 0;
    }

    .qb__image-carousel {

    }
}