body.newsletter {
    background: url(../img/banner/bg-country.jpg);
    background-size: cover;

    .header { display: none; }
}

#newsletterModal {
    .modal-content { overflow: hidden;}
    .modal-dialog {max-width: 800px; }
    .modal-body { padding: 30px; }
    .modal-title { font-size: 26px; margin-bottom: 20px;}
    .nationslist {
		max-height: 300px;
		margin: 30px 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.nation {
		margin-bottom: 12px; text-align: left; padding-left: 30px;
		a { text-transform: uppercase; color: $grey; &:hover { color: $black; }  }
		&.current a { color: $black; font-weight: 700; text-decoration: underline; } 
		span { display: inline-block; width: 12px; height: 16px; margin-right: 8px;  }
		&.has-shop span { background: url(../img/svg/cestino-small.svg) no-repeat 0 100%; }

    }
    .international {
        text-align: center;
        span { width: 16px; height: 16px; margin-right: 3px; vertical-align: sub;
             background: url(../img/svg/icon-globe.svg) no-repeat 0 100%; }
    }

    .newsletter-form {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        .form-control { font-size: 13px; }
        .form-check input[type=checkbox]+.checkmark { position: relative; }

        button.btn-dark { margin: 30px 0 20px; font-size: 12px; }
        .errormsg { display: none; font-size: 12px; color: $red; }
        &.error .errormsg { display: block; margin-bottom: 10px; }
        
        .notnow {
            a { font-size: 12px; text-decoration: underline; }
        }
    }

    .modal-after {
        position: relative;
        &:before { 
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 30px;
            box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);
            z-index: 99;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

        .newsletter__tbanner {
            width: 100%;
            height: 100%;
            color: #fff;
            padding: 10px;
            @include MQ(M) { padding: 50px 0 0; }
            .b__title { margin-bottom: 20px; color: #fff;}
            .b__subtitle { margin-bottom: 10px; color: #fff;}
            a { text-decoration: underline; color: #fff; }
        }
    }
}