.fancybox-white {
    &.fancybox-is-open .fancybox-bg {
        background-color: #fff ;
        opacity: 1;
    }
    
    &.fancybox-show-thumbs .fancybox-inner {
        right: 150px;
    }

    .fancybox-button{ 
        &:before { background: #ccc; }
        div { color: #fff; }
    }
    
    .fancybox-stage {
        left: 20px;
    }

    .fancybox-thumbs { 
        background-color: #fff ; 
        width: 150px;
        padding: 0 20px;
        .fancybox-thumbs__list { padding-right: 10px; }
        .fancybox-thumbs__list a {
            width: 100%; max-width: 100%;
            height: 100%;
            max-height: 140px;
            margin-bottom: 10px;
        }
        .fancybox-thumbs-active { opacity: .5; }
        .fancybox-thumbs__list a:before {
           // border: 1px solid $black;
            opacity: 0;
        }
    }


    .fancybox-close-small {
        display: block !important;
        position: fixed !important;
        top: 30px; right: 30px;
        background: rgba(255, 255, 255, 0.3);

        &:after {display: none; }
    }
}



body.mobile .fancybox-navigation .fancybox-button--arrow_left:before {right: 25px; }
body.mobile .fancybox-navigation .fancybox-button--arrow_right:before {right: 5px; }
  