
.quick-cart {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s ease-out .5s, 
	opacity 0.3s ease-out .5s; ;
	position: absolute;
	left:0;
	right: 0;
	z-index: 196;
	width: 100%;
	min-height: 100vh;
	margin-top: -2px;
	padding: 0;
	background: $white;
	box-shadow: 0px 0px 20px -5px rgba(78, 78, 78, 0.6);

	@include MQ(L) {  left: auto; right: 20px; top: 50px; width: 320px; height: auto; min-height: auto; } 

	.quick-cart__wrapper {
		padding: 20px;
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	.quick-cart__header {
		text-align: center;
		padding: 20px;
	}
	.quick-cart__title { 
		font-size: 22px;  font-weight: 700;
	}
	.quick-cart__subtitle { font-size: 20px;  text-align: center; @include MQ(L) { display: none; } }
	.quick-cart__itemlist {
		overflow: scroll;
		max-height: 70vh;
		padding-bottom: 120px;
		@include MQ(L) {  
			max-height: 320px;
			padding-bottom: 0;
			//overflow: scroll;
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}
	.quick-cart__item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		border-bottom: 1px solid #e5e5e5;
		padding: 15px 0;
		text-align: left;
		//margin-right: 20px;

		.grow { flex-grow: 1; }
		&.is--empty {
			text-align: center;
			padding: 40px 0;
			display: block;
		}


		.quick-cart__item__pic {  
			flex-shrink: 0;
			width: 40%; margin-right: 15px; 
			max-width: 140px;
			@include MQ(L) { width: 65px; width: auto; }
			img { width: 100%; @include MQ(L) { max-height: 96px; width: auto;  } }
		}
		.quick-cart__item__name {
			font-size: 12px; font-weight: 400; font-family: $serif-font;
			margin-bottom: 7px;
			padding-right: 10px;
			@include MQ(L) { font-size: 14px; } 

			.quick-cart__item__logo {
				max-height: 12px;
				max-width: 100px;
				img { display: block; }
				margin-bottom: 5px;
			}
			
		}
		.quick-cart__item__price { 
			font-size: 14px; 
			font-weight: 900;
			margin: 5px 0;
			@include MQ(L) { font-size: 14px; margin: 0; } 
		}

		.quick-cart__item__details { 
			color: #000;
			margin-bottom: 10px;
			@include MQ(L) { margin-bottom: 20px;}
			font-size: 12px;
			span { display: inline-block; margin-right: 10px; color: #666;   }

			.qty {
				background: $bg-light; 
				border: none;
				border-radius: 50%;
				display: inline-block;
				width: 25px; height: 25px;
				padding: 3px;
				color: $black;
				font-size: 18px;
				line-height: .8em;
				margin: 0 5px;
				@include MQ(L) { display: none;  }
			}
			
			@include MQ(L) { 
				font-size: 14px;
				margin-bottom: 0;
				span { display: inline-block; width: 65px; color: #666;  }
			} 
		}
		.quick-cart__item__remove {
			font-size: 12px;
			a span { color: #666; }
			svg { width: 10px; height: 13px; vertical-align: top; }
			@include MQ(L) { 
				font-size: 12px;
				span { display: none; } 
				svg { width: 9px; height: 11px; }
			} 
		}
	}

	.quick-cart__total {
		padding: 30px 0;
		font-size: 16px;
		div { 
			display: flex; 
			justify-content: space-between;
		} 
		

		

		.quick-cart__tprice {
			font-size: 18px; font-weight: 700;
			color: $black;
			@include MQ(L) { font-size: 18px;} 
		}
	}

	.quick-cart__actions {
		display: none;	@include MQ(L) { display: block;} 
		.button { 
			display: block;
			padding: 10px;
			width: 100%;
			font-size: 15px;
			font-weight: 700;
			outline: none;
			margin-bottom: 10px;
			text-align: center;
			border-radius: 4px;
		}
		.button--next {
			color: $white;
		}
		.header__inner:hover .header__menu & .button--next, 
		.header__inner.has-whitebg .header__menu & .button--next {
			color: $white;
			&:hover { color: $black; }
		}
	}

	.quick-cart__footer-mobile {
		@include MQ(L) { display: none; }
		position: fixed;
		bottom: 0; left: 0; right: 0;
		background: #fff;
		padding: 0;
		.quick-cart__total { 
			display: flex; 
			padding: 30px;
			font-size: 14px; font-weight: 700;
			color: $black;
		}
		.button { 
			display: block;
			padding: 10px;
			width: 100%;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			outline: none;
			background: $red;
			border-color: $red;
		}
		
	}
}
