.product__section { margin-bottom: 100px; }
.section--slider {
    margin-top: 20px; 
    margin-bottom: 100px;
    .h4 { @include MQ(Lmax) {color: $black; margin-bottom: 25px; } }
    .h5 { @include MQ(Lmax) {color: $black; margin-bottom: 20px; } }
    .owl-nav {
        @include MQ(Lmax) {display: none; }
        .owl-prev { @include MQ(Lmax) {left: 30px; display: none;} }
        .owl-next { @include MQ(Lmax) {right: 30px;  display: none;} }
    }
}

.product__head {
    display: none;
    @include MQ(L) { display: block; }
    padding-top: 50px; font-size: 12px;

    .row div { padding: 0 5px;}
}
.product__head__nav {
    a { margin-left: 1em; color: $black; font-size: 14px; font-weight: 400;  vertical-align: middle;
        svg { display: inline-block; max-width: 10px; max-height: 10px; stroke-width: 2px; position: relative; top: -2px; }
    }
    .nav__prev svg { transform: rotate(180deg);}
    .nav__next {}
}

.product__gallery {
    &--mobile {  margin: 0 -15px 40px; @include MQ(L) { display: none; }}
    &--desktop { display: none; @include MQ(L) { display: flex; } }

    &--desktop { 
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .item__wrap {
        margin: 0 auto 20px;
        padding: 0 10px;
        text-align: center;
        img { margin: auto; width: 100%; cursor: zoom-in; }
    }
    &--mobile {
        .owl-nav {
            display: none;
            .owl-prev { left: 30px; display: none;}
            .owl-next { right: 30px;  display: none;}
        }
    }
    
}

.pd { 
    &__data { @include MQ(L) {  margin: 0 0 0 40px; } }
    &__header { margin-bottom: 30px; }
    &__logo { width: 136px; height: 18px; margin-bottom: 15px; }
    &__title { font-size: 18px; line-height: 1.3em; font-weight: 400; margin-bottom: 15px; }
    &__price { font-size: 16px; font-weight: 700; color: $black; margin-bottom: 15px; 
        .item {
            &__promo { color: $red; 
                @include MQ(L) { 
                    font-size: 14px;
                    font-weight: 700;
                    color: $black;
                    max-width: 65px;
                }
            }
            &__price { color: $black; font-weight: 700;
                &--old { font-size: 14px; color: $grey; text-decoration: line-through; font-weight: 400;}
                &--new { display: block; color: $black; @include MQ(L) { color: $red; } }
            }
        }
    }
    &__code,
    &__category { font-size: 14px; line-height: 1em; color: $grey; margin-bottom: 15px; }
    &__code { text-align: right; }
    &__category { }  
    &__options { margin-bottom: 30px; } 
    &__option { margin-bottom: 15px; }
    &__wishlist { margin-bottom: 30px; } 

    &__buy {
        margin-bottom: 30px;
        display: none;
        justify-content: space-between;
        @include MQ(L) { display: flex; }

        &--mobile {
            position: fixed;
            bottom: 0; left: 0; right: 0;
            z-index: 99;
            margin-bottom: 0;
            display: flex;
            @include MQ(L) { display: none; }
        }
    }

    &__data .ads {
        padding-top: 10px;
        margin-bottom: 40px;
    }

    &__extra {
        margin-bottom: 60px;
        display: none; @include MQ(L) { display: flex; }
        font-size: 12px;
        a { display: inline-block; margin-bottom: 10px; }
        svg { max-width: 18px; max-height: 22px; /*stroke: $black; fill: transparent;*/ margin-right: 5px;}
    }

    &__tabs {
        margin-bottom: 50px;
        display: none;
        @include MQ(L) { display: block; }
        
        .nav { margin-bottom: 20px; }
        .nav-item { font-size: 14px; line-height: 1em;
            @media only screen and (min-width: 1340px) { margin-right: 25px; } 
        }     
        .nav-link { padding: 5px 0;
            &.active {  font-weight: 700; }
            &.active,
            &:hover { border-bottom: 2px solid $grey--dark-2; }
        }    
        .tab-content { font-size: 14px; }

        .content {
            padding-top: 1em;
            &.js-custom-scrollbars{
                max-height: 220px;
                overflow: hidden;
            }
        }
        
        #aiuto .content {
            svg { 
                stroke: $grey--dark-2; fill: transparent; max-height: 16px; max-width: 16px; 
                vertical-align: sub;
                margin-right: 10px;
                float: left;
            }
            .contactlink,
            .oh { display: block; }
        }
    }

    &__accordion  {
        margin-bottom: 30px;
        display: block;
        @include MQ(L) { display: none; }
        border-top: 1px solid #ccc;

        .content {
            padding: 1em 0; 
            font-size: 13px;
            
        }

        #collapseFour .content {
            svg { 
                stroke: $grey--dark-2; fill: transparent; max-height: 16px; max-width: 16px; 
                vertical-align: sub;
                margin-right: 10px;
                float: left;
            }
            .contactlink,
            .oh { display: block; }
        }
    }

    &__tags {
        margin-bottom: 30px;
    }
}

.pd-summary { text-align: right; margin-bottom: 30px; 
    &__line { font-size: 16px; line-height: 1em; margin-bottom: 20px; }
    &__quantity { }
    &__left { text-align: left; 
        .button--remove { font-size: 14px; }
        svg { stroke: $black; fill: transparent; min-height: 16px; min-width: 16px; position: relative; bottom: -3px; }
    }
    &__subtotal { font-size: 18px; }
}

.banner-info { background: $bg-light; padding: 20px; font-size: 14px; line-height: 1.5em; text-align: center; margin-bottom: 30px;
    &__title { font-size: 15px; line-height: 1em; font-weight: 700; }
}

.btn-wishlist { display: block; text-align: center;
    &__icon,
    &__text { display: inline-block; }
    &__icon { margin-right: 5px; width: 22px; height: 24px; 
         stroke: $black; fill: transparent; stroke-width: 3px; 
    }
    &__text { font-weight: 700; font-size: 15px; }
}

.color { 
    &__img { border-radius: 50%; display: inline-block; width: 40px; height: 40px; margin: 0 15px 0 0; z-index: 0;
        &:hover { transform: scale(1.5); position: relative; z-index: 99; }
    }
    &__label { display: inline-block; }
    &__name,
    &__code { display: block; font-size: 14px; line-height: 1em; }
    &__name { margin: 0 0 4px; font-weight: 700; }
}

.size { margin: 0 0 0 5px; max-width: 16%;
    &__list { display: flex; justify-content: space-between; }
    &__label,
    &__input { display: block; text-align: center; }
    &__label { text-transform: uppercase; font-size: 12px; line-height: 1em; margin: 0 0 4px; }
    &__input { border: 1px solid $grey; border-radius: 4px; font-size: 15px; width: 100%; font-weight: 600; }
    &__input::placeholder { font-weight: 200; }
}

.related-products {
    &__title { font-size: 22px; font-weight: 700; line-height: 1em; margin-bottom: 30px; }
}

#guidaTaglieModal {

    .modal-dialog { width: 90%; max-width: 840px; margin: auto; }
    .modal-header { text-align: center; border: none; }
    
    .modal-body { height: 460px; 
        text-align: left; 
        padding: 20px 10px 60px 30px; 
        @include MQ(L) { padding: 20px 30px 60px 60px;  }
        &.mCS_no_scrollbar { @include MQ(L) { padding: 20px 60px 60px 60px;  } }
        .collapse { padding-bottom: 2em; }
        .svg { stroke: $grey--dark-2; fill: transparent; min-height: 16px; min-width: 16px; }
    }
    .modal-text { text-align: center; padding-bottom: 30px; border-bottom: 1px solid $grey--light-3;  }

    #accordionTaglie { margin-bottom: 60px; }
    .accordion__heading--small {
        & > a {font-weight: 700; text-decoration: underline;}
    }

    .modal-body table {
        width: 100%; font-size: 12px; color: $black; 
        @include MQ(L) { font-size: 14px;  }
        background-color: $bg-light;
        overflow: hidden;
        th { background-color: $white; }
        tr {  border-bottom: 1px solid $white; 
            &:hover { background-color: $white; }
        }
        
        th, td {
            text-align: center; padding: 10px;
            @include MQ(L) { padding: 15px;  }
            &:first-child { text-align: left; }
        }
        .hover { background-color: $white !important;}

    }
    .come-misurare {
        display: flex;
        padding: 15px 0;
    }
    .servizio-clienti {
        padding: 15px;
    }
}


    

// .sticky_column.is_stuck { padding-top: 320px; }

.sticky-product {
    background: $bg-light;
    font-size: 12px;
    padding: 6px 0;
    box-shadow: 0px 20px 30px 25px rgba(170, 170, 170, 0.5);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 189;
    display: none;
    @include MQ(L) { display: block; }

    &.hidden { display: none; }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > * { flex-grow: 0; vertical-align: middle;  }
    }    
}
.sp {
    &__image { text-align: left; height: 80px; 
        img { max-height: 100%; }
    }
    &__title { margin-bottom: 0; }
    &__details {flex-grow: 1; text-align: left; padding-left: 15px; font-size: 14px; color: $black;
        .item__promo { 
            color: $red; 
            @include MQ(L) { 
                font-size: 14px;
                font-weight: 700;
                //color: $black;
                color: $grey;
                max-width: 65px;
            }
        }
    }
    &__price {
        color: $black; font-weight: 700;
        &--old { font-size: 14px; color: $grey; text-decoration: line-through; font-weight: 400;}
        &--new { color: $black; @include MQ(L) { color: $red; } }
    }
    &__sizes { 
        white-space: nowrap; 
        text-align: right;
        padding-right: 15px;
        .showGuidaTaglie { color: $grey; border-bottom: 1px solid $grey--light-3;  }
        .showGuidaTaglie, 
        .size-selector-wrapper { display: inline-block; }
        .size-selector-wrapper { 
            margin-left: 15px; 
            width: 220px;
        }
    }
    &__btn { white-space: nowrap; text-align: right;
        .button--buy,
        .button--fav { padding: 15px 30px; font-size: 18px; } 
        .button--buy { width: auto; }
        .button--fav { background: none; border: none; color: $black; height: 50px; 
            svg { stroke: $black; stroke-width: 2px; max-width: 21px; max-height: 21px; }
            &:hover { 
                svg { stroke: $red; }
            }
        }
    }
}
