.store-locator {
    padding: 60px 0 120px;

    .store-locator__map {
        
        height: 600px;
        #content {
            font-size: 12px;
            color: $black;
            font-family: $sans-font;

            a { text-decoration: underline; font-weight: 700; }
        }
    }
    
    &__header {
        padding: 0 15px;        
        @include MQ(L) { padding: 0;}
        .h3 { text-align: center; color: $black; } 
    }

    &__search {
        font-size: 11px;
        .button { margin-bottom: 4px; font-size: 12px; padding: 8px 8px; text-transform: uppercase;
            flex: 1 1 auto;
            svg { max-width: 14px; margin-right: 5px; fill: #666666 }
            &.search_geolocal:hover svg { fill: purple; }
        }
        .input-group-append { 
            svg { width: 18px; height: 22px; stroke: $black; fill: transparent; margin-right: 5px;} 
        }
        .store-locator__radio { margin-top: 36px; }
        .form-check-input { margin-top: 0; }
    }
    &__stores-list {
        margin-top: 30px;    
        padding: 0 15px;
        @include MQ(L) { padding: 0;}
    
        .store {
            position: relative;
            font-size: 13px;
            .store__inner {  
                padding: 15px 0 15px 0;
                display: block; position: relative;
                font-weight: 400;
                &:hover { background: $bg-light; }
            }
            span { display: block; margin-bottom: 0; }
            .store__link { display: inline-block; text-decoration: underline; margin-top: .5rem; }

            .store__icon {
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                width: 27px;
                height: 36px;
                svg { max-width: 30px; }
            }
        }
    }
    .js-custom-scrollbars {
        @include MQ(L) { max-height: 400px; }
    }
    
    &__loadmore { margin-top: 30px; }
}

.store-detail {
    padding-bottom: 120px;
    #map-canvas {
        min-height: 260px;
    }
    .store__back { margin-left: 20px; }
    .store__data { 
        color: $black;
        text-align: center;
        @include MQ(L) { padding-left: 40px; text-align: left; color: $black; }
    }


    .store__directions { 
        width: 180px; white-space: nowrap; 
        margin-bottom: 4px; font-size: 12px; padding: 8px; text-transform: uppercase;
        text-align: center;
        svg { max-width: 14px; margin-right: 5px; fill: #666666 }
        &:hover svg { fill: purple; }
    }
    .store__hours {
        span {
            display: inline-block;
            width: 90px;
        }
    }
}