/* ==|== GENERAL ===================================================== */

* { box-sizing: border-box; }

html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	//text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	

}
  
body { font-family: $body-font; background: $body-bg; font-size: 14px; 
  	line-height: 1.5; color: $text-color; font-weight: 400; text-align: center;  
	padding-top: 160px; background: #fff;
	@include MQ(L) { padding-top: 300px; }
}

body, .header { max-width: 1980px;  margin: 0 auto; }

body.no-scroll {
	overflow: hidden;
}

body.hide-prices {
	.price,
	.item__price {
		display: none;
	}
}

/* ==|== STRUCTURE ===================================================== */

.container { 
	padding-left: 0; padding-right: 0;  
	text-align: left; 
	.row{ 
		margin-right: 0; margin-left: 0;
		.col-12 { }

		&.no-gutter,
		&.no-gutters {
			margin-right: 15px;
			margin-left: 15px;

			> .col,
			> [class*="col-"] {
				padding-right: 0;
				padding-left: 0;
			}
		}
		& {
			> .col,
			> [class*="col-"] {
			//@include MQ(Lmax) { padding-right: 0; padding-left: 0;} 
			}
		}

		& .row { margin-right: 0; margin-left: 0; }
	}
}
.container-fluid.full { 
	padding-left: 0; padding-right: 0; 
	.row{ 
		margin-right: 0; margin-left: 0;
		.col,
  		[class*="col-"] {
			padding-right: 0; padding-left: 0;
		}
	}
}

.col-np { 
	@media (max-width: 575px) { padding-left: 0; padding-right: 0; }
}

section.bg-light { background: $bg-light; }

/* ==|== HEADER ====================================================== */

.header--mobile { display: block;  }
.header--desktop { display: none; }
body.mobile .header--desktop { display: none; }
body.mobile .header--mobile { display: block; }
body.desktop .header--mobile { display: none; }
body.desktop .header--desktop { display: block; }

@include MQ(L) { 
.header--mobile { display: none;  }
.header--desktop { display: block; }
body.desktop .header--mobile { display: none; }
body.desktop .header--desktop { display: block; }
body.mobile .header--desktop { display: none; }
body.mobile .header--mobile { display: block; }
}

.header {
	background: transparent;
	text-align: left;
	position: fixed; 
	top: 0; left: 0; right: 0;
	width: 100%;
	z-index: 199;


	&__banner {
		background: $brand-blue;
		text-transform: uppercase;
		position: relative;
		padding: 15px 5px;
		font-size: 12px;
		
		@include MQ(L) { }

		text-align: center;
		.close { 
			position: absolute;
			right: 10px; 
			top: 9px;
			@include MQ(L) { right: 25px; top: 13px; }
			width: 12px; height: 12px;
			svg { stroke: $black; }
		}
	}

	.header__account {
		background: #FAFAFA;
		padding: 10px 0;
		a { font-weight: 700; }
		.row { align-items: center; }

		.account__location {
			line-height: 1em;
			white-space: nowrap;
			flex-grow: 0;
			flex-shrink: 1;
			.account__brand {
				border-right: 2px solid #C9C9C9;
				padding-right: 10px;
				margin-right: 10px;
				vertical-align: middle;
			}

			.account__lang {
				vertical-align: middle;
				img { height: 10px; vertical-align: baseline; display: inline-block; margin-right: 2px; }
			}
				
		}
		.account__details {
			flex-grow: 1;
			flex-shrink: 0;
			
			.account__store {
				border-right: 2px solid #C9C9C9;
				padding-right: 10px;
				margin-right: 10px;
				display: none;
				@include MQ(L) { display: inline-block;} 
			}
			
			.account__name { 
				svg { 
					height: 14px; width: 13px; fill: transparent; stroke: #000; 
					vertical-align: middle; position: relative; top: -1px;
				}
			}
			a { margin: 0 5px; }
		}
		

		
	}

	&__inner {
		padding: 20px 0;
		background: $white;

		.header__brand-row { 
			align-items: center;
			padding: 20px 0;
		}
		.header__brand-nav {
			a {
				margin-right: 35px; 
				font-size: 15px;

				&:last-child { margin-right: 0; }
				&.active { font-weight: 700; border-bottom: 2px solid #000; }
			}
		}
}

	&__logo { 
		position: relative;
		z-index: 2;
		line-height: 1;
		font-weight: bold;
		letter-spacing: 2.9px;
		color: $main-color;
		flex-grow: 1;
		margin: 0 7px;
		display: block;

		&--rinascimento img { width: 250px; }
		&--kitana img { width: 140px; }
		// img { display: block; width: 100%; height: auto; margin: 0 auto; max-width: 300px; max-height: 30px; }
		// svg { fill: $white; stroke: $white; }
	}
	.header__menu {
		a { color: $black; 
			&.active { @include MQ(L) { border-color: $black; font-weight: 600; } }	
			&:hover { font-weight: 600; }
		}
		&__icons { svg { stroke: $black; } }

		li:hover > .header__submenu,
		li:hover > .quick-cart  {
			@include MQ(L) { visibility: visible; opacity: 1; } 
			/* These transition properties apply on hover */
			transition: visibility 0.2s ease-out 0s, 
						opacity 0.2s ease-out 0s; ;
		}
		&.header__menu--main {
			padding: 20px 0;
		}
	}

	.header__menu {
		z-index: 2;
		//white-space: nowrap;
		ul, li, a { display: inline-block; margin: 0; padding: 0; vertical-align: middle; }
		li { }
		& > ul > li > a {
			font-size: 15px;
			font-weight: 400;
			//margin: 0 22px;	
			position: relative;
			z-index: 3;
			border-bottom: 2px solid transparent;
			

			span { display: inline-block;}
			
			&:hover,
			&.active { border-bottom: 2px solid $black; }	
		}
		//& li.has-submenu > a { cursor: default; }
		
		.header__menu__pages > li > a { margin: 0 22px; }
		& > ul.header__menu__icons > li > a {
			padding: 0 8px;	
			margin: 0 2px 0 auto;
			@include MQ(L) { padding: 0 10px; }
			@include MQ(XL) { padding: 0 15px; }
			position: relative;
			border-bottom: 1px solid transparent;
			.counter { 
				position: absolute; 
				top: -4px; right: 5px;
				background: #333333;
				border: 1px solid $white;
				border-radius: 50%;
				font-size: 9px;
				color: $white;
				text-align: center;
				line-height: 17px;
				width: 18px; height: 18px;
				font-weight: 700;

				svg { width: 8px; height: 8px; stroke: #fff; stroke-width: 4; vertical-align: initial; }
			}

			
		}

		&__icons {
			svg { max-width: 20px; max-height: 28px; fill: transparent; stroke: $black; position: relative; }

			& > li.icon--search a {
				svg { max-width: 24px;  max-height: 22px; top: -3px;  }
			}
			& > li.icon--wishlist > a {
				svg { bottom: -4px; @include MQ(L) { bottom: 0; } }
				.counter { right: 4px !important; }
			}
			.icon--shoppingbag a {			
				svg { top: 0px; max-width: 22px; stroke-width: 1.3; }
				.counter { right: 6px !important; top: 12px;  }
			}
			
		}
		
	}
	

	.header__submenu {
		visibility: hidden;
		opacity: 0;
		/* These transition properties apply on "mouseout" */
		transition: visibility 0.3s ease-out .5s, 
					opacity 0.3s ease-out .5s; ;
		position: absolute;
		left: 50%;
		width: 100vw;
		transform: translate(calc(-100vw + 50%), 0);
		margin-top: -2px;
		padding: 20px;
		background: $white;
		box-shadow: 0px 20px 40px -30px rgba(170, 170, 170, 0.5);

		.submenu__items {
			display: flex;
			font-size: 15px; 
			.submenu__name {
				font-family: $serif-font;
				font-size: 16px;
				color: $red;
				margin-top: 20px;
				display: block;
			}
			a { margin: 0; }
			a svg { width: 4px; height: 8px; margin-right: 10px; }
		}
		.submenu__items--account {
			right: 0;
			width: 130px;
			margin-right: 40px;
			@include MQ(XL) {  width: 130px; margin-right: 70px;  } 
		}

		li { 
			display: block; height: auto; line-height: 1.5;
			a { 
				border-bottom: 2px solid $white;
				&:hover { @include MQ(L) {  border-bottom: 2px solid $black; } }
				&.active { font-weight: 700; border-bottom: 2px solid $black;  }
			}
		}

		.submenu__box--big {
			margin: 0;
			display: block;
			img { width: 100%; display: inline-block; margin-bottom: .5em; }
		}
		.submenu__box--hor {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			margin-bottom: 13px;

			img { display: inline-block; margin-right: 1em; }
		}

		.box--t {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			padding: 20px;
			width: 100%;
			height: 87.5%;
			background: #FAFAFA;

			&__title-1 { font-size: 28px; line-height: 1em; margin-bottom: 19px; font-family: $serif-font;  }
			&__title-2 { font-size: 16px; line-height: 1em; margin-bottom: 30px; }
			&__title-3 { font-size: 15px; line-height: 1em; }

		}

		
	}
	.submenu__search { 
		background: #FAFAFA;
		padding: 20px; 

		&__inner {
			margin: 0 auto 0 0;
			@include MQ(L) { margin: 0 auto; }
		}

		.search__form {
			position: relative;
			border-bottom: 1px solid $black;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 15px;
			

			input.form-control { 
				background: transparent;
				border: none; 
				font-size: 18px;
				text-align: left;
				@include MQ(L) { text-align: center; }
			}
			.search__icon {
				fill: transparent; stroke: $black; 
				height: 20px; width: 24px;
			}
			.search__close {
				position: absolute;
				right: -60px;
				top: 60%;
				transform: translateY(-50%) ;
			}
		}
		
	}

	&--mobile {
		.toggle-mobile-menu {
		 	visibility: hidden;
			margin-right: 10px;
			svg { stroke: $white; }
		}

		.row { align-items: center; }

		ul.header__menu__icons {
			& > li > a { padding: 0 5px !important; }
			svg { max-width: 20px; max-height: 28px; fill: transparent; stroke: $black; position: relative; }

			& > li.icon--search a {
				margin-left: 10px;
				svg { top: 0; }
			}
			& > .icon--menu a {
				svg {}
			}
			& > li.icon--wishlist > a {
				//margin-right: 5px;
				svg { bottom: -3px; max-width: 21px; }
				.counter { right: -2px !important; }
			}
			& > .icon--shoppingbag a {
				svg { top: 0px; max-width: 26px; max-height: 24px; stroke-width: 1.3; }
				.counter { right: 0px !important; top: 12px;  }
				
			}
			
		}
	}
}


/* ==|== MOBILE MENU ======================================================== */



/* ==|==  ======================================================== */


/* ==|==  ======================================================== */

.home section {
	margin-bottom: 0px;
	@include MQ(L) { margin-bottom: 30px; }
	
	//padding: 60px 0;
}
.main-title { color: $black; 
	font-family: $title-font; font-size: 30px; font-weight: 300; line-height: 1em; letter-spacing: 0.02em; 
}


.banner-text {
	padding: 40px 0;
	//@include MQ(L) { padding: 40px 15px;}
	font-size: 14px;
	@include MQ(M) { padding: 0 12%;}
	.b__subtitle { margin-bottom: 30px;  }
	.b__title { margin-bottom: 20px; } 
}

.b__image { margin-bottom: 30px; display: inline-block; }
.m-wide { margin-left: -15px; margin-right: -15px; display: inline-block; } 
.m-narrow { margin-left: 15px; margin-right: 15px; }
.b__subtitle { font-size: 18px; }
.b__altsubtitle { font-size: 15px; margin: -20px 0 20px; letter-spacing: .025em; line-height: 1.3em;
	@include MQ(L) { color: $grey;}
	a { @include MQ(L) { color: $grey;} }
}
.b__title { font-size: 36px; font-weight: 400; margin-bottom: 30px;   }
.b__title.f-serif { font-weight: 400;  }
.b__text { margin-bottom: 30px; }


.b__iconlist {
	li {padding-bottom: 30px; }
	svg { height: 14px; width: 14px; margin-right: 10px; margin-left: -30px; }
	li.has-bordertop { border-top: 1px solid #ccc; padding-top: 30px; }

	img { 
		display: block;
		margin: 0 auto 15px;

		
		
		@include MQ(M) { 
			display: inline-block;
			float: left; margin-left: -30px;
			position: relative;
			&.icon-mouse 	{ top: -14px; }
			&.icon-mail 	{ top: 3px; width: 21px; }
			&.icon-bags 	{ top: -4px;  }
		}
	}

	@media only screen and (max-width: $L - 1) { 
		text-align: center;
		.b__iconlist__header { margin-bottom: 15px; }
		.icon-mouse { width: 28px; }
		.icon-mail 	{ width: 38px; }
		.icon-bags 	{ width: 45px; }
	}
}

.banner--black {
	@include MQ(L) { 
		.b__subtitle { color: $white;}
		.b__text { color: $white; }
	}
}
/*
.about .b__subtitle ,
.about .b__text { color: $black; @include MQ(L) { color: $grey;} }
*/

.s-collection {
	img.m-wide { width: 100%; }
	@include MQ(Lmax) { padding-top: 40px; padding-bottom: 40px;}
}
.home .s-specialselection {
	@include MQ(Lmax) { padding-top: 40px; padding-bottom: 40px; margin-bottom: 60px;}
	
}
.s-vetrina {
	background: $bg-light;
	padding: 100px 0;
	@include MQ(L) { padding: 150px; }

	.b__subtitle { margin-bottom: 40px; font-size: 20px; @include MQ(L) { font-size: 20px;} }
	.b__title { margin-bottom: 20px; font-size: 36px; @include MQ(L) { font-size: 36px;} }
	.b__text { font-size: 18px; }
	.button--cta { font-size: 16px; } 
}
.s-video {
	@include MQ(Lmax) { padding-top: 0; padding-bottom: 40px;}
	.b__title { }
}


/* ==|==  ======================================================== */
.owl-stage {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	}
.owl-carousel {
    .owl-prev {
	    position: absolute;
		left:-30px;
	    top: 0;
	    bottom: 0;
	    width: 20px;
	    text-indent: -6000px;
	    background-image: url(../img/icon-arrow-left.svg);
	    background-repeat: no-repeat;
		background-position: center center;
		border: none;
		@include MQ(L) { left: -52px; width: 50px; }

    }
    .owl-next {
	    position: absolute;
	    right:-30px;
	    top: 0;
	    bottom: 0;
	    width: 20px;
	    text-indent: -6000px;
	    background-image: url(../img/icon-arrow-right.svg);
	    background-repeat: no-repeat;
		background-position: center center;
		border: none;	
		@include MQ(L) { right: -52px; width: 50px; }

	}
	.owl-next,
	.owl-prev {
		border: none;
		outline: none;
		&:hover { opacity: .6; }
	}
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.owl-carousel .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent; 
	position: absolute;
	bottom: 15px;
	@include MQ(L) { bottom: 30px; }
	left: 0;
	right: 0;	
	}
.owl-carousel.carousel-menu .owl-dots { position: static; }
	.owl-carousel .owl-dots .owl-dot {
		display: inline-block;
		zoom: 1;
		display: inline; 
		border: none;
		background: transparent;
		outline: none;
		vertical-align: middle;
	}
	.owl-carousel .owl-dots .owl-dot span {
		width: 8px;
		height: 8px;
		margin: 2px 6px;
		background: $black;
		display: block;
		transition: opacity 200ms ease;
		border-radius: 50%;
		transition: width .3s, height .3s;
		background: $white;
		@include MQ(L) { background: $black; }
	}
	.owl-carousel .owl-dots .owl-dot.active span{
		width: 5px;
		height: 5px;
	}
	.owl-theme .owl-dots .owl-dot:hover span {}
	.owl-carousel .owl-next,
	.owl-carousel .owl-prev { background-color: transparent; }

/* ==|==  ==================================================== */

.c-video {
	min-height: 370px;
	@include MQ(L) { min-height: 500px;}
	text-align: center;

	.video-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 30;
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
  		justify-content: center;
		
		svg { height: 50px; width: 50px; display: block; margin: 0 auto 40px;}
		.b__subtitle { display: block; font-size: 18px; margin-bottom: 20px;}
		.b__title { font-size: 34px; @include MQ(L) { font-size: 56px; letter-spacing: 0.02em;} }

		&.white > *{
			color: $white; fill: $white;
		}

		&.black > *{
			color: $black; fill: $black;
		}
	}
	picture, img { width: 100%; }
	.play-video {z-index: 20;}
	iframe { z-index: 40; }
}

/* ==|==  ==================================================== */



/* ==|==  ==================================================== */


/* ==|== FOOTER ======================================================= */

.prefooter{
	padding: 60px 0 20px;
	background: $bg-light;
	@media only screen and (max-width: $L - 1) { 
		background: $white;
		.row > div {padding-bottom: 40px;}
	}

	strong { display: block; line-height: 1.2em; margin-bottom: .5em; }
}

.footer {
	padding: 40px 0;
	background: $bg-light;
	.hr {
		border-top: 1px solid #e5e5e5;
		margin: 30px 0 60px;
	}

	.newsletter-sub,
	.find-store {
		padding-left: 15px;
	 }

	.footer__menu {
		ul {
		   	li {
				a { color: $black; line-height: 1em; margin-bottom: 15px; display: inline-block; }
				& > ul { margin-top: 1.5em; margin-bottom: 1em;}
				a:hover { text-decoration: underline; }		
			}
		}
		b.footer-toggle {
			display: block;
			line-height: 1.2em;
		}

		@media only screen and (max-width: $M - 1 ) { 
			
			div > ul > li {
				//margin: 0 10px;
				//border-bottom: 1px solid #ccc;
				b.footer-toggle {position: relative;}
				& b.footer-toggle:after {
					content:"";  
					position: absolute;
					top: 50%; right: 0; 
					width: 20px;
					height: 10px;
					background: url("../img/svg/Arrow-small.svg") no-repeat 50% 50%;
					transform: rotate(90deg);
			
				}
				&.open b.footer-toggle:after {
					transform: rotate(-90deg);
					line-height: 1.2em;
				}
				& > ul { margin-top: 0; margin-bottom: 1em; line-height: 1.2em;}
				
			}
			.row > div:first-child > ul > li {border-top: 1px solid #ccc;}
			div > ul > li > .footer-toggle { 
				display: block;
				padding: 12px 0;
				cursor: pointer;

				.small-left { font-size: 12px; }
			 }
			 .footer-toggle {

			 }
			 li > ul { display: none; }
			 li.open > ul { display: block; }
			 li.open > ul.nationslist {
				display: flex;
				flex-wrap: wrap;
				margin-top: 20px;
				li { width: 50%; }
			}
		} 
		
	#inputNewsletter { 
		border-radius: 0; 
		border: 1px solid $bg-light; 
		background: $bg-light;
		border-bottom-color: $black;
		font-size: 13px;
		@include MQ(M) {  
			border: 1px solid $white; 
			background: $white;
			border-bottom-color: $grey--light-1;
		 } 
		
		
	}
	.newsletter-sub__extra { 
		.errormsg { display: none; font-size: 12px; color: $red; }
		&.error .errormsg { display: block; margin-bottom: 10px; }
	}
	.newsletter-sub__privacy {
		font-size: 12px;
		margin: 20px 0;
		
		a { text-decoration: underline; }
	}
	.newsletter-sub__submit { border: 1px solid $grey--light-3; margin-bottom: 20px; }
	#inputStoreFinder { 
		border-radius: 0; border: none;  padding: 0 10px;
		background-color: $white;
		font-size: 13px;
		@include MQ(M) {  
			background-color: $bg-light;
		}
	}
	#inputStoreFinder-search { 
		border: none;  border-radius: 0;
		background-color: $white;
		@include MQ(M) {  
			background-color: $bg-light;
		}
		svg {
			width: 18px;
			fill: transparent;
			stroke: black;
		}
	}
}

.footerCollapse__label {
	display: inline-block;
		text-transform: uppercase;
		color: $black;
		font-weight: 700;
		margin: 0 30px 0 10px;
		.fcl-label { color: $black; }
		.fcl-icon { 
			display: inline-block; width: 5px; height: 12px; margin-left: 12px; top: 1px; position: relative;
			transform: rotate(270deg);
			transform-origin: 50% 50%;
			background: url(../img/svg/Arrow-small.svg) no-repeat 50% 100%;
			background-size: contain;
			vertical-align: baseline;
		}

		&.collapsed .fcl-icon { transform: rotate(90deg); }
}
.footer-collapse {
	padding: 60px 0;

	.nationslist {
		max-height: 300px;
		margin: 30px 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
	}
	.languagelist {
		padding-left: 237px;
	}
}

.nation,
.language {
	margin-bottom: 12px;
	a { text-transform: uppercase; color: $grey; display: inline-block !important; 
		&:hover { color: $black; }  }
	&.current a { color: $black; font-weight: 700; text-decoration: underline; } 
	span { display: inline-block; width: 12px; height: 16px; margin-right: 8px;  }
	&.has-shop span { background: url(../img/svg/cestino-small.svg) no-repeat 0 100%; }

}


.select-inline {
		display: inline-block;
		border: none;
		background: $white;
		text-transform: uppercase;
		color: $black;
		font-weight: 700;
		option {
			text-transform: uppercase;
			color: $black;
			font-weight: 700;
		}
	}

	
}

.footer--social {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@include MQ(Mmax) { 
		padding: 0 15px;
		.footer--col {
			padding: 40px 0 ;
			border-top: 1px solid $grey--light-2;
			&:last-child { border-bottom: 1px solid $grey--light-2; }
		}
		.social--title { 
			display: block; font-size: 24px; 
			margin: 0 0 30px;
		}
	}
	
	

	.social_links {
		display: inline-block;
		padding: 0 10px;
		@include MQ(Mmax) {  text-align: center; }
		li { display: inline-block; margin: 0 10px; @include MQ(L) { margin: 0 15px; } }

		svg { max-width: 32px; max-height: 32px;  @include MQ(M) {  max-width: 20px; max-height: 20px;   }  }
	}

}

.credits {
	padding: 20px 0;
	background: $bg-light;
	color: $grey--light-2;
	font-size: 12px;

	.row {
		text-align: center;
	}
}

/* ==|== MESSAGGI E ALERTS ===================================================== */

.cookienotice { 
	position: fixed; z-index: 1012; bottom: 0; left: 0; right: 0; background:$white; color: $grey; font-size: 13px; padding: 30px; 
	text-align: left;
	.row { max-width: 1280px; margin: 0 auto; }
	b, strong { color: $grey; }
	a { color: $grey; text-decoration: underline; }
	a.btn { background: $white; padding: 3px 22px; border-radius: 0;
		font-weight: 700;
		display: inline-block; text-decoration: none; margin: 0 0; 
		border: 1px solid $grey;
		&:hover { background: $grey; color: $white; }
	}
}

