/* ==|== VARIABLES ===================================================== */

// Colors
$main-color: 	#000000;
$second-color:#666666;
$text-color:	#000000;
$link-color:	#000000;
$body-bg:		  #ffffff;
$brand-blue:  #D1EEF1;


// Typography
$body-font:			'FuturaPT', 'Futura PT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-font:			'FuturaPT', 'Futura PT', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font:		'DomaineDisp', 'Domaine Display', Georgia, Times, "Times New Roman", serif;
$serif-font:		'DomaineDisp', 'Domaine Display', Georgia, Times, "Times New Roman", serif;


// COLOR PALETTE

$red:           #ff0066;
// blacks
$black: 		    #000000;
$black--light: 	#111111;
$black--light-1:#222222;

// greys
$grey:			    #666666;
$grey--light:	  #777777;
$grey--light-1:	#888888;
$grey--light-2: #999999;
$grey--light-3:	#aaaaaa;
$grey--dark:	  #555555;
$grey--dark-1:	#444444;
$grey--dark-2:	#333333;

// white
$white: 		    #ffffff;
$bg-light:      #FAFAFA;

$red:           #ff1170;

// UI colors
$warning:		    #ffd70f;
$error:			    #f04e18;
$info:			    #1cb7eb;
$positive:		  #17c164;

// Spacing
$base-margin: 8px;


// Media Queries
$XS:	480px; 
$S:		768px;    
$M:   992px;   
$L:   1024px;
$XL: 	1200px;     


@mixin MQ($canvas) {
  @if $canvas == XSmax {
   @media only screen and (max-width: $XS - 1) { @content; } 
  }
  @elseif $canvas == Smax {
   @media only screen and (max-width: $S - 1) { @content; } 
  }
  @else if $canvas == Mmax {
   @media only screen and (max-width: $M - 1) { @content; } 
  }
  @else if $canvas == Lmax {
   @media only screen and (max-width: $L - 1) { @content; } 
  }
  @else if $canvas == XLmax {
   @media only screen and (max-width: $XL - 1) { @content; } 
  }
  @elseif $canvas == XS {
   @media only screen and (min-width: $XS) { @content; } 
  }
  @elseif $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) { @content; } 
  }
}



// Media Queries Helpers
@media only screen and (max-width: $M) { 
	.only-mobile {display: inline-block;}
	.only-desktop {display: none;}
} 
  
@media only screen and (max-width: $M + 1) { 
	.only-mobile {display: none;}
	.only-desktop {display: inline-block;}
} 
  