
@font-face {
    font-family:"Futura PT Bold";
    src:url("FuturaPTBold.woff2") format("woff2"),url("FuturaPTBold.woff") format("woff"),url("FuturaPTBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        