/* Welcome */
 

@page {
margin: 1cm;
}

body {
font: 12pt "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.3;
color: #000;
}

a { color: #000; text-decoration: none; }

img { max-width: 90%;  }
blockquote, ul { margin: 0; }
ul {list-style: none}

li {
content: "» ";
}


p a[href^="http://"]:after {
content: " (" attr(href) ")";
font-size: 90%;
}
p a {
word-wrap: break-word;
}


.navbar-brand-big {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5mm;
	img { margin: 0 auto; display: block; margin-bottom: 1cm; }
}

.masthead__link-cantiere { margin: 0; font-size: 20pt}
h1.masthead__indirizzo { margin: 0 0 4mm 0; font-size: 26pt; }
.sec-apt-data--prezzo { font-weight: bold; font-size: 20pt; margin-bottom: 1cm; }
section {
	margin-bottom: 3mm;
	padding-bottom: 3mm;
	border-bottom: .5mm solid #000;
}

.sec-apt-data { margin-bottom: 3mm; }
.sec-apt-data--prezzo,
.sec-apt-data--icons,
.sec-apt-data--icons li { display: inline;}

.apt-feature-list { display: table; margin: 1cm 0; width: 60%; border-collapse: collapse;}
.apt-feature  { display: table-row; }
.apt-feature-title { display: table-cell; font-weight: bold; font-size: 120%; padding-bottom: 5mm;  }
.apt-feature span,
.apt-feature strong { display: table-cell; border: 1px solid #000; padding: 3mm; }

/* NASCONDIAMO ROBA */
 
.navbar-brand-small,
#fullNav,
#navbarResponsive,
.navbar-toggler,
.masthead__content__btns,
.sec-breadcrumb-social,
.sec-apt-data--icons-mobile,
.mobile-contacts,
#contact,
#newsletter,
.footer,
.owl-nav { display: none;}