
@font-face {
    font-family:"DomaineDispSemibold";
    src:url("DomaineDisp-Semibold.woff2") format("woff2"),url("DomaineDisp-Semibold.woff") format("woff"),url("DomaineDisp-Semibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        