
@font-face {
    font-family:"DomaineDisp-Regular";
    src:url("DomaineDisp-Regular.woff2") format("woff2"),url("DomaineDisp-Regular.woff") format("woff"),url("DomaineDisp-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        