
@font-face {
    font-family:"Futura PT Book";
    src:url("FuturaPTBook.woff2") format("woff2"),url("FuturaPTBook.woff") format("woff"),url("FuturaPTBook.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        