
@font-face {
    font-family:"FuturaStd-Book";
    src:url("FuturaStd-Book.woff2") format("woff2"),url("FuturaStd-Book.woff") format("woff"),url("FuturaStd-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        