
@font-face {
    font-family:"FuturaStd-Heavy";
    src:url("FuturaStd-Heavy.woff2") format("woff2"),url("FuturaStd-Heavy.woff") format("woff"),url("FuturaStd-Heavy.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        