
@font-face {
    font-family:"FuturaStd-Medium";
    src:url("FuturaStd-Medium.woff2") format("woff2"),url("FuturaStd-Medium.woff") format("woff"),url("FuturaStd-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        