
@font-face {
    font-family:"Futura PT Heavy";
    src:url("FuturaPTHeavy.woff2") format("woff2"),url("FuturaPTHeavy.woff") format("woff"),url("FuturaPTHeavy.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        