
@font-face {
    font-family:"Futura PT Medium";
    src:url("FuturaPTMedium.woff2") format("woff2"),url("FuturaPTMedium.woff") format("woff"),url("FuturaPTMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        