
@font-face {
    font-family:"FuturaStd-Bold";
    src:url("FuturaStd-Bold.woff2") format("woff2"),url("FuturaStd-Bold.woff") format("woff"),url("FuturaStd-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        