/*
 * Web Fonts from colophon-foundry.org
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Colophon Foundry. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2019 Colophon Foundry
 *
 * Licenced to Annalisa Rinallo Teddy spa
 */

@font-face {
    font-family: 'Apercu Pro';
    src: url('apercu-regular-pro.eot');
    src: url('apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('apercu-regular-pro.woff2') format('woff2'),
         url('apercu-regular-pro.woff') format('woff'),
         url('apercu-regular-pro.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('apercu-bold-pro.eot');
    src: url('apercu-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('apercu-bold-pro.woff2') format('woff2'),
         url('apercu-bold-pro.woff') format('woff'),
         url('apercu-bold-pro.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

    /*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2019 Schwartzco Inc.
        License: 1909-ETREYH     
*/


@font-face {
    font-family: 'Canela';
    src: url('Canela-Black-Web.woff2') format('woff2'),
         url('Canela-Black-Web.woff') format('woff');
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
  }
  
  .Canela-Black-Web {
    font-family: 'Canela';
    font-weight:  900;
    font-style:   normal;
    font-stretch: normal;
  }
  
  
  @font-face {
    font-family: 'Canela';
    src: url('Canela-Light-Web.woff2') format('woff2'),
         url('Canela-Light-Web.woff') format('woff');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
  }
  
  .Canela-Light-Web {
    font-family: 'Canela';
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
  }
  
  